

<h1>Home Page</h1>


<h2>--------------------------------one Way Data binding start--------------------</h2>
<br>
<br>
<h2 style="color: brown"> Interpolation  </h2>
<h3>Hello Iam {{name}} and my age is {{25}}</h3>  <!--interpolation {{}}-->
<br>
<img src="{{image}}" alt="image" width="{{width}}">


<br>
<br>
<h2 style="color: brown"> Property binding  </h2> <!--Property binding []-->
<img [src]="image"  alt="" [width]="width" [style.border-top]="1">


<br>
<br>
<h2 style="color: brown"> event binding  </h2> <!--event binding {{}}-->

<input type="text" placeholder="type here" #myVar  (keyup.enter)="setData(myVar.value)" > |
<button (click)="printData()"> Print data</button>






<h2>--------------------------------one Way Data binding End--------------------</h2>

<br>
<br>
<br>

<h2>--------------------------------Two Way Data binding End--------------------</h2>

<input type="text" placeholder="type here" #myValue  (keyup)="myName=myValue.value" >
<h3>{{myName}}</h3>  <!-- interpolation event binding to archive tow way data binding -->

<br>
<br>

<input type="text" placeholder="type here" #myValue  [(ngModel)]="myName" > <!--original 2way data binding -->
<h3>{{myName}}</h3>

<h2>--------------------------------Two Way Data binding End--------------------</h2>
